.nav-link {
    list-style: none;
}

.nav-link-inner {
    text-decoration: none;
    margin-right: 4.2rem;
    font-weight: 600;
    font-size: 18px;
    color: #111111;

}

.active {
    border-bottom: 2px solid red;
}

.ham-container {
    display: none;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 5rem;
}

.nav-list {
    display: flex;
    justify-content: space-between;
}

.icon-container {
    display: flex;
}

.icons {
    margin-right: 2rem;
    cursor: pointer;
}

.last {
    margin-right: 0;
}

@media screen and (max-width:1000px) {
    .link-container {
        display: none;
    }

    .icon-container {
        display: none;
    }

    .ham-container {
        cursor: pointer;
        display: block;
    }

    .line {
        display: flex;
        height: 4px;
        width: 2.2rem;
        color: #111111;
        background-color: #111111;
        margin-bottom: 5px;
    }

    .main-container {
        justify-content: space-between;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    .mobile-menu{
        display: inline-block;
        position: fixed;
        right: 0;
        width: 150px;
        text-align: end;
        transform: translate(30px);
        transition: all 1s;
        height: 200px;
        background-color: white;
        z-index: 999;
    }
    .nav-link{
        margin-bottom: 0.5rem;
    }
}
.none{
    display: none;
}