@tailwind base;
@tailwind components;
@tailwind utilities;

.buttons {
    height: 50px;
    margin-top: 10px;
    width: 250px;
    background-color: #F28123;
    color: white;
    margin-bottom: 10px;
    border-radius: 50px;
}

.svg-icons {
    fill: #F28123;
    border: 2px #F28123 dotted ;
    border-radius: 999px;
    padding: 10px;
}